RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ?page=$1
RewriteRule ^admin/(.*)$ admin/index.php    [NC,L]
RewriteRule ^(.*)admin/(.*)$ ?page=$1